{% extends 'base.html' %}
{% block title %} Crear Encuesta por Curso {% endblock %}
{% block content %} 
{% load bootstrap %}


<div class="container-fluid" >	
	<div class="row">
		<div class="col-md-1"></div>

		<div class="col-md-6">
			<div class="form-group">
				<label>Seleccione o agregue un grupo:</label><br>
				<!-- <label >Grupos:</label> -->
				<table class="table">
				<form  action="" method="POST">
				{% csrf_token %}
				<select class="form-control" id="el_Grupo" name="elGrupo">

				{% for cadaGrupo in Grupos %}
				{% ifequal cadaGrupo.id idGrupoSeleccionado %} 
						<option value="{{cadaGrupo.id}}" selected>{{cadaGrupo}}</option>
				{% else %}
					<option value="{{cadaGrupo.id}}">{{cadaGrupo}}</option>
				{% endifequal %}

				{% endfor %}
				</select>
				</table>
			</div> 
			<input class="btn btn-primary" type="submit" value="Seleccionar grupo">
			<a href="{% url 'vista_agregar_grupo' %}?next={{request.path}}">
			<button type="button" class="btn btn-success">
			<span class="glyphicon glyphicon-plus" ></span>Agregar Grupo
			</button></a>

			{% if idGrupoSeleccionado %}
			<a href="{% url 'vista_agregar_jefe_de_grupo' idGrupoSeleccionado %}?next={{request.path}}">
			<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span>Agregar Jefe de Grupo
			</button></a>
			{% endif %}
			</form>
			</div>
		
		<div class="col-md-4">
			<div class="ScrollStyle">
				<label>Integrantes</label>
				<ol>
				{% for cadaIntegrante in Integrantes %}
				<li>{{ cadaIntegrante }}</li>
				{% endfor %}
				</ol>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>

		<div class="col-lg-6">
		{% if idGrupoSeleccionado != ''  %}
		
			<form  action="" method="POST">
			<input type='hidden' name='elGrupo' value={{idGrupoSeleccionado}} />
			{% csrf_token %}
			<div class="form-group ScrollStyle">
			<label >Alumnos:</label>
			<table class="table">
			<tr class="active">
			<td> </td>
			<td>Nombre</td>
			<td>RUT</td>
			<td>Email</td>
			</tr>
			{% for cadaAlumno in Alumnos %}
			<tr>
			<td><input type="checkbox" id="blankCheckbox" name="{{cadaAlumno.id}}" value="{{cadaAlumno.id}}"></td>
			<td>{{cadaAlumno}}</td>
			<td>{{cadaAlumno.rut}}</td>
			<td>{{cadaAlumno.email}}</td>
			</tr>
			{% endfor %}
			</table>
			</div> 
			<p><input class="btn btn-primary" type="submit" value="Integrar alumnos al grupo"> <input class="btn btn-danger" type="submit" value="Eliminar del grupo" name="Eliminar"></p>
		{% else %}
			
		{% endif %}
		{{info}}
		</div>	    	
		<div class="col-lg-4"></div>
		<div class="col-lg-1"></div>
			
		{% if idGrupoSeleccionado != ''  %}
			</form>
		<!-- Filtro -->
			<div class="container-fluid">
			<label> Filtrar por:</label>
			<form class="navbar-search" method="POST">
			{% csrf_token %}
			<input type="text" class="search-query" placeholder="Buscar por" name="buscado"/>
			<input type='hidden' name='idGrupoOculto' value={{idGrupoSeleccionado}} />
			<button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search" ></i></button>


			</form>

			</div>

			<!-- Filtro -->

		{% endif %}
{% endblock%}

			