{% extends 'base.html'%}
{% block title %} Lista de Preguntas {% endblock %}
{% block content %} 
	{% if preguntas %}
		{% for p in preguntas %}
			<p>Nombre de la pregunta: {{ p.nombrePregunta }}</p>
			<table>
				<tr>
					<td>Puntaje</td>
					<td>Pregunta</td>
				</tr>
				<tr>
					<td>1</td>
					<td>{{p.pregunta1}}</td>
				</tr>
				<tr>
					<td>2</td>
					<td>{{p.pregunta2}}</td>
				</tr>
				<tr>
					<td>3</td>
					<td>{{p.pregunta3}}</td>
				</tr>
				<tr>
					<td>4</td>
					<td>{{p.pregunta4}}</td>
				</tr>
				<tr>
					<td>5</td>
					<td>{{p.pregunta5}}</td>
				</tr>
			</table>
		{% endfor %}
	{% else %}
		No existen preguntas
{% endif %}
{% endblock%}
